/* Default Light */
body,
button,
input,
select,
textarea {
	color: #999;
}
body {
	background:#2d2d2d;
}
h1, h2, h3, h4, h5, h6 {
	color: #eee;
}
blockquote {
	color: #999;
}
pre {
	background: #eee;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
}
mark, ins {
	background: #fff9c0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
/* Links */
a {
	color: #ccc;
}
a:visited {
	color: #ccc;
}
a:hover,
a:focus,
a:active {
	color: #eee;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	color: #21759b;
}
.main-navigation a {
	color: #eee;
}
.main-navigation a:hover {
	color: #fff;
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	background: #1d1d1d;
}
#menu-wrap {
	border-top:8px solid #222;
}
#menu-wrap.stuck {
	background:#2d2d2d;
}
.single .byline,
.group-blog .byline {
	color: #999;
}
.wp-caption {
	border: 1px solid #ccc;
}
#homewidgets {
	background: #1d1d1d;
	color: rgba(256,256,256,0.5);
}
.action-button .button, .slide-button .button, .nav-links a, .slide-button a {
	border: 1px solid rgba(256,256,256,0.1);
	background: rgba(0,0,0,0.3);
	color: #fff;
}
.action-button .button:hover, .slide-button .button:hover, .slide-button a:hover {
	background: rgba(0,0,0,0.4);
}
.nav-links a {
	background: #232323;
}
.nav-links a:hover {
	background: #222;
}
#homewidgets .widget-title {
	color: #fff;
}
#home-slider .flex-caption .slider-caption {
	color: #ead6b9;
	text-shadow: 0 0 3px rgba(0,0,0,.3);
}
.flex-caption .home-slide-title {
	color: #FFF;
	text-shadow: 0 0 3px rgba(0,0,0,.3);
}
.flex-caption .home-slide-title a {
	color: #FFF;
}
#colophon {
	background: #111;
	color: #666;
}
.site-info a {
	color: #999;
}
#colophon h3.widget-title {
	color: #eee;
}
h2.section-title a, h1.archive-title a {
	color: #eee;
}
h2.section-title a:hover, h1.archive-title a:hover {
	color: #fff;
}
.section-title-top {
	border-bottom: 3px solid #eee;
	border-top: 1px solid #eee;
}
.hover-overlay {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJElEQVQIW2NkYGD4D8RbgBgMGIF4MxD7wARhAiBJsCCyAFgQAOV4Bh05S6LXAAAAAElFTkSuQmCC) repeat;
}
.hover-overlay .entry-title a, .hover-overlay .post-categories a {
	color: #fff;
}
.hover-overlay .entry-title a:hover, .hover-overlay .post-categories a:hover {
	color: rgba(256,256,267, 0.6);
}
.hover-overlay .post-categories {
	color: #fff;
}
#services-section .entry-title a {
	color: #eee;
}
#services-section .entry-title a:hover {
	color: #fff;
}
#testimonials-section article .entry-title a {
	color: #222;
}
#testimonials-section article .testimonial-text {
	background: rgba(256,256,256,0.8);
	color: #555;
}
#testimonials-section article .testimonial-bubble {
	background: rgba(256,256,256,0.8);
}
#testimonials-section article .testimonial-small-bubble {
	background: rgba(256,256,256,0.8);
}
h1.site-title a {
	color: #eee;
}
.archive h1.entry-title a, .search h1.entry-title a, .grid-3 h1.entry-title a {
	color: #eee;
}
.archive h1.entry-title a:hover, .search h1.entry-title a:hover, .grid-3 h1.entry-title a:hover {
	color: #fff;
}
.entry-meta {
	color: #999;
}
.footer-entry-wrap {
	border-top: 5px solid #eee;
}
.site-description {
	color: #999;
}
.entry-image.fullscreen {
	background: #000;
}
.image-fullscreen:hover, .flex-full-screen:hover {
	background: rgba(0,0,0,0.2);
}
.featured-image-caption {
	background: rgba(256,256,256, 0.55);
	color: #444;
}
.flexslider.flexslider-fullscreen {
	background: #000;
}
span.post-format-icon {
	background: rgba(0,0,0,0.2);
	color: #eee;
}
#blog-section .entry-title a {
	color: #eee;
}
#blog-section .entry-title a:hover {
	color: #fff;
}
#services-section article {
	background: #1d1d1d;
}
#services-section article:hover {
	background:#222;
}
#services-section article .entry-title a {
	color:#eee;
}
#services-section article:hover .entry-title a {
}
#cancel-comment-reply-link {
	color: red !important;
}
#spinner:before {
border-top-color: #222;
}
#homewidgets a {
	color:#eee;
}