<link rel="stylesheet" type="text/css" href="/css/getful.css">


<div layout layout-align="center">
<div layout="column" style="width:70%">
	<div class="banner">
		<h1>Getful</h1>
		<p class="banner">Concept, UX/UI Design, Full Stack Development</p>
		<md-button href="http://getful.herokuapp.com" target="_blank" class="see">See App</md-button><md-button href="http://github.com/aguerojahannes/AnaYiselAugust" target="_blank" class="see">See Code</md-button>
		<hr/>
	</div>
	<div>
		<img src="/assets/getful/getful-logo.png" style="width:100px"> <!-- class="anim" -->		
		<h2>Project Description</h2>
		<p>Getful is a bilingual, online mobile app that enables its users to create circles of resourced contacts before they need them, thereby alleviating the stress of the need. Users interact to request and suggest resources.
		</p>
		<p>Users can create circles pertaining to big life areas (ie. Career, Health, Personal, Create Your Own) and add new or existing contacts to those circles. If they find themselves in need of a contact they don't already have, they can make a request for suggestions to other users globally or in specific circles.</p>
		<p>Users are notified if they are added as a resource in someone's circle or if someone has commented on their request/suggestion.</p>

		<img src="/assets/getful/getful-language.png" class="mobile">
		<h2>Users</h2>
		<p>Young adults (Spanish & English speakers) in the U.S. seeking to ease worry of not having enough of or the right connections.

		</p>

		<h2>Project Goals</h2>
		<p>Complete the entire mobile app from inception to production to launch in just 2 weeks.</p>

		<h2>Team</h2>
		<p>Yisel Naomi Rosario Chang, August Geiseman and me.</p>
		<p>Each team member worked across the board on design, front end and back end compenents.</p>

		<h2>Process</h2>
		<p>
		Concept & Ideation <b>Lead Visionary</b><br/>
		User Research: Focus group<br/>
		Information Architecture & Navigation<br/>
		Wireframes<br/>
		Visual Design<br/>
		Iteractive Prototype <b>Lead Designer</b><br/>
		Mobile Framework <b>Lead Developer</b><br/>
		HTML & CSS Views<br/>
		Javascript Functionality<br/>
		Server & Database<br/>
		User Authenication <b>Lead Developer</b><br/>
		Social Media Integration<br/>
		Usability Testing<br/>
		Deployment
		</p>

		<h2>Project Timeline</h2>
		<p>2 weeks</p>

		<h2>Tools</h2>
		<p>Photoshop, Illustrator, Flinto, Ionic, Cordova, Ionic Material, Sass, Angular JS, Node Js, Express, Mongo DB, Mongolab</p>
	</div>
	<div>
		<h2>Mock Up</h2>
		<img src="/assets/getful/getful-views.png" class="mockup">
		<h2>Final Views</h2>
		<div layout="row">
			<img src="/assets/getful/getful-dash.png" style="margin:5px"> 
			<img src="/assets/getful/getful-circle.png" style="margin:5px">
		</div>
	</div>


</div>
</div>

<!-- <div id="footer" class="skew-neg">fdsfsafds
	<div class="skew-pos">
		<div class="title">Getful</div>
	</div>
</div> -->