<div ng-controller="HomeController as vm">

	<img src="/assets/palm_fronds.png" class="leaf1">
	<img src="/assets/palm_fronds.png" class="leaf2">
	<img src="/assets/palm_fronds.png" class="leaf3">
	<img src="/assets/palm_fronds.png" class="leaf4">
	<img src="/assets/palm_fronds.png" class="leaf5">
	<!-- <img src="/assets/palm.png" class="leaf5"> -->
	<!-- <img src="/assets/palmleaf.png" class="leaf3"> -->
	<img src="/assets/rubberplant.png" class="leaf6">

	<div class="ana" layout="column">
				<img src="/assets/ana-wild-bw.jpg" atl="Ana Maria Aguero Jahannes" class="anaPic">
				<h1>Hi, I'm Ana.</h1>
				<h2>I'm a Front End Web Developer and Designer.</h2>
				<h2>I <em>looove</em> creating beautiful, exciting and unique apps.</h2>
				<md-button ui-sref="Portfolio" class="peep">Peep My Work</md-button>


<!-- 				<div class="skew-neg">
					<div class="skew-pos">
						<div class="title">Getful</div>
					</div>
				</div> -->
			</div>
</div>


<!-- 
			<div flex layout="row" class="banner">
				<div id="title" flex>PORTFOLIO | Ana Mar&iacute;a Ag&uuml;ero Jahannes
				</div>
				<div id="menu" flex>
					<a href="">About</a>
					<a ui-sref="ArtofAscent">Art of Ascent</a>
					<a ui-sref="Getful">Getful</a>
					<a ui-sref="Forum">Peep Rally</a>
					<a ui-sref="Om-n">OM-N</a>
				</div>
			</div> -->