<div layout layout-align="center">
<div layout="column" style="width:70%">
	<div class="banner">
		<h1>OM-N</h1>
		<p class="banner">Concept, UX/UI Design</p>
	</div>
	<div>
		<h2>Company Description</h2>
		<p>OM-N is a gallery and marketplace showcasing the various intersections of world culture and nature. They make it easy to support culturally specific creations without the risk of appropriation.</p>

		<h2>Project Description</h2>
		<p>OM-N is an online mobile marketplace of curated fashion, art and home goods with an emphasis on world cultures and nature.</p>
		<p>Users learn about the cultural specfic craftmanship, intended purpose and uses forUsers can see what cultural groups the merchandise is intended for and answer artist-generated questions about the .</p>
		

		<h2>Project Goals</h2>
		<p>
		<ul>
		<li>Find out users' preferred way of targeting customers and being targeted when dealing with hot topic of cultural appropropriation.</li>
		<li>Complete wireframes, visual design and prototyping within 1 week.</li>
		</ul>
		</p>

		<h2>Users</h2>
		<p>Young adults (20-35 years old) who identify as people of color (of indigenous, African, Latin and/or Asian decent) who want to respectfully buy and sell culturally specific creations.</p>

		<h2>Deliverables</h2>
		<p>
		Concept & Ideation<br/>
		User Research (1:1 interviews)<br/>
		Information Architecture & Navigation<br/>
		Wireframes<br/>
		Visual Design<br/>
		Usability Testing<br/>
		Prototyping
		</p>

		<h2>Project Timeline</h2>
		<p>1 week</p>

		<h2>Tools</h2>
		<p>Illustrator, Photoshop, Flinto</p>
	</div>

</div>
</div>