<div layout flex>
<div class="portfolio" flex>

	<img src="/assets/rubberplant_bw.png" class="plant">
	<a ng-click="vm.toggleArtofAscent()" class="artofascent portfolioButton">Art of Ascent</a>
	<a ng-click="vm.toggleGetful()" class="getful portfolioButton">Getful</a>
	<a ng-click="vm.toggleFoodForum()" class="foodforum portfolioButton">Food Forum</a>
	<a ng-click="vm.toggleOmn()" class="om-n portfolioButton">OM-N</a>

<!-- 	<div class="bio">
	<p>In addition to web developer, I am and have been an entrepreneur, business consultant, community organizer, professional acrobat, a massage therapist, photographer and more. I have traveled extensively, from Cuba to Lesotho, learning about the world's traditional textile and culinary techniques. I love dirt under my nails, being mid-flip and the accents in my name. I’ve managed to do a lot (and with variety) in a short time, but I chalk it up to good time management skills and a drive to be all that I can be. </p>
	</div> -->

</div>
<!-- <div flex>

	<p>In addition to web developer, I am and have been an entrepreneur, business consultant, community organizer, professional acrobat, a massage therapist, photographer and more. I have traveled extensively, from Cuba to Lesotho, learning about the world's traditional textile and culinary techniques. I love dirt under my nails, being mid-flip and the accents in my name. I’ve managed to do a lot (and with variety) in a short time, but I chalk it up to good time management skills and a drive to be all that I can be. </p>

</div> -->




<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">

		      <md-toolbar class="md-toolbar-tools" layout>
		      	<div flex>
		        		<h1 >Art of Ascent</h1>
				<p>Concept, UX/UI Design, Full Stack Development</p>
		        </div>
		        <div class="links">
				<md-button href="http://artofascent.herokuapp.com" target="_blank" class="see">Open App</md-button><br/>
				<a href="https://github.com/aguerojahannes/" target="_blank" class="smallLink">See Code</a>
		        </div>
		      </md-toolbar>
		      <md-content >

			<div layout layout-align="center">
			<div layout="column">
			<!-- 	<div class="banner">
					<h1>Art of Ascent</h1>
					<p class="banner">Concept, UX/UI Design, Full Stack Development</p>
					<md-button class="see">See App</md-button>
					<hr/>
				</div> -->
				<div>
					<img src="/assets/artofascent/artofascent-modals.gif" style="width:100%">
				</div>
				<div>
					<h2>Project Description</h2>
					<p>Art of Ascent is a web app that I conceived of, designed and developed to give artists a business plan guide so they can focus on their creativity while growing a business.</p>
					<p>Artists will find in their dashboard each section of a business plan where they can go to to think about and answer important questions that solidify a plan. Special features include a brainstorm area, which is available throughout the app to jot down notes, and a resource list and chat area specific to each section for additional insight and motivation.</p>
					<p>When an artist completes a section, they can review, edit or view their work, and when they complete all sections, they have a foundation, a direction and a business plan they can print to PDF!</p>

					<img src="/assets/artofascent/brainstorm.png" class="mobile">
					<h2>Project Goals</h2>
					<p>Complete the entire product from inception to production to launch in just 1 week.</p>


					<h2>Users</h2>
					<p>Emerging adult artists in the U.S. seeking guidance on creating a business out of their art.</p>

					<h2>Deliverables</h2>
					<p>
					Concept & Ideation<br/>
					User Research (Online survery plus 1:1 interviews)<br/>
					Information Architecture & Navigation<br/>
					Wireframes<br/>
					Visual Design<br/>
					HTML & CSS Views<br/>
					Javascript Functionality<br/>
					Server & Database<br/>
					Usability Testing<br/>
					Deployment
					</p>

					<h2>Project Timeline</h2>
					<p>1 week<br/><br/>
					This project was created as an individual project while at Coder Camps. I loved it so much, I want to continue to develop it! I'm really proud of what I accomplished in 7 days, but I can't wait to add expert content and create new features like a sketchpad.</p>

					<h2>Tools</h2>
					<p>Google Forms, Photoshop, Angular JS, Node Js, Express, Mongo DB, Mongolab, Heroku</p>
				</div>
				<div>
					<!-- <img src="/assets/artofascent/brainstorm.png"> -->
					<h2>Views</h2>
					<img src="/assets/artofascent/artofascent-app.png" style="width:100%">
					<img src="/assets/artofascent/rc.png">
				</div>

			</div>
			</div>


		        <md-button ng-click="vm.close()" class="md-primary">
		          Close Sidenav Right
		        </md-button>
		      </md-content>

                     </md-sidenav>


<!-- //////////////////////////////////////////// -->
	      	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="getful">

		      <md-toolbar class="md-toolbar-tools" layout>
		      	<div>
		      		<img src="/assets/getful/getful-logo.png" style="width:100px">
		      	</div>
		      	<div flex>
		        		<h1 >Getful</h1>
				<p>Concept, UX/UI Design, Full Stack Development</p>
		        </div>
		        <div class="links">
				<md-button href="http://getful.herokuapp.com" target="_blank" class="see">Open Web App</md-button><br/>
				<a href="https://github.com/danpotty/The-Food-Forum" target="_blank" class="smallLink">View Code</a>
		        </div>
		      </md-toolbar>
		      <md-content >

<!-- DO SOMETHING WITH THIS -->
			<!-- <link rel="stylesheet" type="text/css" href="/css/getful.css"> -->


			<div layout layout-align="center">
			<div layout="column">
				<div>
					 <!-- class="anim" -->		
					<h2>Project Description</h2>
					<p>Getful is a bilingual, online mobile app that enables its users to create circles of resourced contacts before they need them, thereby alleviating the stress of the need. Users interact to request and suggest resources.
					</p>
					<p>Users can create circles pertaining to big life areas (ie. Career, Health, Personal, Create Your Own) and add new or existing contacts to those circles. If they find themselves in need of a contact they don't already have, they can make a request for suggestions to other users globally or in specific circles.</p>
					<p>Users are notified if they are added as a resource in someone's circle or if someone has commented on their request/suggestion.</p>

					<img src="/assets/getful/getful-language.png" class="mobile">
					<h2>Users</h2>
					<p>Young adults (Spanish & English speakers) in the U.S. seeking to ease worry of not having enough of or the right connections.

					</p>

					<h2>Project Goals</h2>
					<p>Complete the entire mobile app from inception to production to launch in just 2 weeks.</p>

					<h2>Team</h2>
					<p>Yisel Naomi Rosario Chang, August Geiseman and me.</p>
					<p>Each team member worked across the board on design, front end and back end compenents.</p>

					<h2>Process</h2>
					<p>
					Concept & Ideation <b>Lead Visionary</b><br/>
					User Research: Focus group<br/>
					Information Architecture & Navigation<br/>
					Wireframes<br/>
					Visual Design<br/>
					Iteractive Prototype <b>Lead Designer</b><br/>
					Mobile Framework <b>Lead Developer</b><br/>
					HTML & CSS Views<br/>
					Javascript Functionality<br/>
					Server & Database<br/>
					User Authenication <b>Lead Developer</b><br/>
					Social Media Integration<br/>
					Usability Testing<br/>
					Deployment
					</p>

					<h2>Project Timeline</h2>
					<p>2 weeks</p>

					<h2>Tools</h2>
					<p>Photoshop, Illustrator, Flinto, Ionic, Cordova, Ionic Material, Sass, Angular JS, Node Js, Express, Mongo DB, Mongolab</p>
				</div>
				<div flex>
					<h2>Mock Up</h2>
					<img src="/assets/getful/getful-views.png" class="mockup">
					<h2>Final Views</h2>
					<div width="100%" layout>
						<img src="/assets/getful/getful-dash.png" width="50%" height="50%"> 
						<img src="/assets/getful/getful-circle.png" width="50%"  height="50%">
					</div>
				</div>


			</div>
			</div>


		        <md-button ng-click="vm.closeGetful()" class="md-primary">
		          Close Sidenav Right
		        </md-button>
		      </md-content>

                     </md-sidenav>                    




<!-- //////////////////////////////////////////// -->
	      	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="foodforum">

		      <md-toolbar class="md-toolbar-tools" layout>
		      	<div flex>
		        		<h1>Food Forum</h1>
				<p>Concept, UX/UI Design, Full Stack Development</p>
		        </div>
		        <div class="links">
				<md-button href="http://foodforum.herokuapp.com" class="see">See App</md-button><br/>
				<a href="https://github.com/danpotty/The-Food-Forum" target="_blank" class="smallLink">View Code</a>
		        </div>
		      </md-toolbar>
		      <md-content >

			<div layout layout-align="center">
			<div layout="column">
<!-- 				<div class="banner">
					<h1>Food Forum</h1>
					<p class="banner">UI Design, Full Stack Development</p>
					<md-button href="https://github.com/danpotty/The-Food-Forum" target="_blank" class="see">See Code</md-button>
				</div>	 -->
				<div>
					<img src="/assets/foodforum/foodforum-home2.png" style="width:100%">
				</div>
				<div>
					<h2>Project Description</h2>
					<p>Peep Rally is a bilingual, online mobile app that enables its users to create circles of resourced contacts before they need them, thereby alleviating the stress of the need. Users interact to request and suggest resources.
					</p>
					<p>Users can create circles pertaining to big life areas (ie. Career, Health, Personal, Create Your Own) and add new or existing contacts to those circles. If they find themselves in need of a contact they don't already have, they can make a request for suggestions to other users globally or in specific circles.</p>
					<p>Users are notified if they are added as a resource in someone's circle or if someone has commented on their request/suggestion.</p>

					<h2>Users</h2>
					<p>Young adults (Spanish & English speakers) in the U.S. seeking to ease worry of not having enough of or the right connections.</p>

					<h2>Project Goals</h2>
					<p>Complete the entire mobile app from inception to production to launch in just 2 weeks.</p>

					<h2>Team</h2>
					<p>August Geiseman, Dan Pottorff and me.</p>
					<p>Each team member worked across the board on design, front end and back end compenents.</p>

					<h2>Deliverables</h2>
					<p>
					Concept & Ideation <b>Lead Visionary</b><br/>
					User Research: Focus group<br/>
					Information Architecture & Navigation<br/>
					Wireframes<br/>
					Visual Design<br/>
					Iteractive Prototype <b>Lead Designer</b><br/>
					Mobile Framework <b>Lead Developer</b><br/>
					HTML & CSS Views<br/>
					Javascript Functionality<br/>
					Server & Database<br/>
					User Authenication <b>Lead Developer</b><br/>
					Social Media Integration<br/>
					Usability Testing<br/>
					Deployment
					</p>

					<h2>Project Timeline</h2>
					<p>2 weeks</p>

					<h2>Tools</h2>
					<p>Photoshop, Illustrator, Flinto, Ionic, Cordova, Sass, Angular JS, Node Js, Express, Mongo DB, Mongolab</p>
				</div>
				<div  flex>
					<div flex>
					<img src="/assets/foodforum/foodforum-profile.png">
					</div>
					<div flex>
					<img src="/assets/foodforum/foodforum-register.png">
					</div>
				</div>

			</div>
			</div>


		        <md-button ng-click="vm.closeGetful()" class="md-primary">
		          Close Sidenav Right
		        </md-button>
		      </md-content>

                     </md-sidenav>                    



<!-- //////////////////////////////////////////// -->
	      	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="omn">

		      <md-toolbar class="md-toolbar-tools" layout>
		      	<div flex>
		        		<h1 >OM-N</h1>
				<p>Concept, UX/UI Design</p>
		        </div>
		        <div>
				<md-button class="see">See App</md-button>
		        </div>
		      </md-toolbar>
		      <md-content >

			<div layout layout-align="center">
			<div layout="column">
				<div>
					<h2>Company Description</h2>
					<p>OM-N is a gallery and marketplace showcasing the various intersections of world culture and nature. They make it easy to support culturally specific creations without the risk of appropriation.</p>
					
					<iframe width="424" height="916" src="//invis.io/7G577XSE6" frameborder="0" allowfullscreen class="prototype"></iframe>
					<h2>Project Description</h2>
					<p>OM-N is an online mobile marketplace of curated fashion, art and home goods with an emphasis on world cultures and nature.</p>
					<p>Users learn about the cultural specfic craftmanship, intended purpose and uses forUsers can see what cultural groups the merchandise is intended for and answer artist-generated questions about the .</p>
					

					<h2>Project Goals</h2>
					<p>
					<ul>
					<li>Find out users' preferred way of targeting customers and being targeted when dealing with hot topic of cultural appropropriation.</li>
					<li>Complete wireframes, visual design and prototyping within 1 week.</li>
					</ul>
					</p>

					<h2>Users</h2>
					<p>Young adults (20-35 years old) who identify as people of color (of indigenous, African, Latin and/or Asian decent) who want to respectfully buy and sell culturally specific creations.</p>

					<h2>Deliverables</h2>
					<p>
					Concept & Ideation<br/>
					User Research (1:1 interviews)<br/>
					Information Architecture & Navigation<br/>
					Wireframes<br/>
					Visual Design<br/>
					Usability Testing<br/>
					Prototyping
					</p>

					<h2>Project Timeline</h2>
					<p>1 week</p>

					<h2>Tools</h2>
					<p>Illustrator, Photoshop, Flinto</p>
				</div>

			</div>
			</div>


		        <md-button ng-click="vm.closeGetful()" class="md-primary">
		          Close Sidenav Right
		        </md-button>
		      </md-content>

                     </md-sidenav>                                         