
.banner {
  text-align: center;
}
.header {

}

#site {

}

/*#header {
   font-size: 60px;
   line-height: 1.6875;
   text-align: center;
}*/


.portfolioButton {
  z-index: 1;
  position: fixed;
  background-color:;
  color: rgba(255,255,255,1);
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 2px 2px rgba(0,0,0,.7);
}

.md-sidenav-right, md-sidenav {
    right: 0 !important;
    top: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
md-sidenav {
    box-sizing: border-box;
    position: absolute;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 60;
    width: 60%;
    min-width: 60%;
    max-width: 500px;
    bottom: 0;
    overflow: auto;
}

 md-toolbar:not(.md-menu-toolbar) {
  background-color: rgb(130,131,255);
 }


.md-toolbar-tools {
    font-size: 20px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
     height: 107px; 
    max-height: 120px;
    padding: 15 20px; 
    margin: 0;
}

md-content {
      padding: 20px 35px;
}

.skew-neg {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height:100px;
    background-color: #00ff00;
}

/* And the child another way */
.skew-pos {
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height:80px;
    background-image: url("/assets/tree-texture.png");
}

.title {
  background-color: #ff0060;
  text-transform: uppercase;
  font-weight: bolder;
/*  width: 140px;
*/  position: fixed;
  right:10%;
  top: 20px;
}


.mobile {
    float: right;
    margin: 0 0 20px 30px;
    width: 40%;
}

.prototype {
    float: right;
    margin: 0 0 20px 30px;
}

.links {
  text-align: center;
}
.see {
  background-color: black;
  color: white;
  text-align: center;
}

.smallLink {
  font-size: 50%;
}


/*GETFUL*/

.mobileViews {
    margin: 0 0 5px 5px;
    width: 40%;
}

.mockup {
  width:100%;
}
