
html {

}

body {
   font-family: "Century Gothic";


}

h1 {
  font-size: 95%;
  text-transform: uppercase;
}

h2 {
  font-size: 85%;
}

h3 {
  font-size: 75%;
}
p {
  font-size: 70%;
  text-align: justify;
}
.banner {
  text-align: center;
}
.header {

}

#site {

}

/*#header {
   font-size: 60px;
   line-height: 1.6875;
   text-align: center;
}*/

.ana {
  width: 50%;
  background-color: black;
  color: white;
  font-family: "Basic Title Font";
  text-align: center;
  margin: auto;
  position: inherit;
  bottom:0px;
  z-index: 0;

}

.anaPic {
    width: 100%;
    height:100%;
    z-index: 0;
}

.peep {
  background-color: red;
  font-size: 1.5em;
  font-weight: bolder;
  display: inline;
}

.leaf1 {
  position: fixed;
  right: 0px;
  height: 400px;
  z-index: 4;
}

.leaf2 {
  position: fixed;
  right: 0px;
  top: 20%;
  height: 400px;
  z-index: 3;

}

.leaf3 {
  position: fixed;
  right: 0px;
  top: 40%;
  height: 400px;
  z-index: 3;
}

.leaf4 {
  position: fixed;
  right: 0px;
  top: 60%;
  height: 400px;
  z-index: 3;
}

.leaf5{
  position: fixed;
  right: 0px;
  top: 80%;
  height: 400px;
  z-index: 3;
}

/*.leaf3 {
  position: fixed;
  bottom: -150px;
  right: -100px;
  height: 400px;
}*/

.leaf6 {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width:30%;
  z-index: 4
}
/*
.leaf5 {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 400px;
}*/




@media only screen and (max-width: 400px) {
   body { font-size:90%;}
        }

@media only screen and (max-width: 800px) {
                   body { font-size:100%;}
       }

@media only screen and (max-width: 1100px) {
                body { font-size:120%;}
    }

 @media only screen and (min-width: 1100px) {
                     body { font-size:120%;}
                     .wrap {max-width:770px;}
         }


video #bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(http://anaritasousa.com/wp-content/uploads/2015/02/1796410_10152299489933487_602805989_n.jpg) no-repeat;
    background-size: cover;
}

@media screen and (max-device-width: 800px) {
    html {
         background: url(http://anaritasousa.com/wp-content/uploads/2015/02/1796410_10152299489933487_602805989_n.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}




.plant {
  height:100%;
  z-index:1;
  position: fixed;
}

/*.portfolio {
  z-index: 1;
  position: fixed;
}*/

.portfolioButton {
  z-index: 1;
  position: fixed;
  background-color:;
  color: rgba(255,255,255,1);
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 2px 2px rgba(0,0,0,.7);
}

.artofascent {
  top: 150px;
  left:120px;
  -webkit-transform: rotate(55deg);
  /* Firefox */
  -moz-transform: rotate(55deg);
  /* IE */
  -ms-transform: rotate(55deg);
  /* Opera */
  -o-transform: rotate(55deg);
}

.md-whiteframe-4dp, .md-whiteframe-z2 {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}
.md-sidenav-right, md-sidenav {
    right: 0 !important;
    top: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
md-sidenav {
    box-sizing: border-box;
    position: absolute;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 60;
    width: 700px;
    min-width: 700px;
    max-width: 500px;
    bottom: 0;
    overflow: auto;
}

 md-toolbar:not(.md-menu-toolbar) {
  background-color: rgb(130,131,255);
 }


.md-toolbar-tools {
    font-size: 20px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
     height: 107px; 
    max-height: 120px;
    padding: 15 20px; 
    margin: 0;
}

md-content {
      padding: 20px 35px;
}

.getful {
    top: 300px;
    left:100px;
}

.foodforum {
    top: 160px;
    left:470px;
    -webkit-transform: rotate(-70deg);
    /* Firefox */
    -moz-transform: rotate(-70deg);
    /* IE */
    -ms-transform: rotate(-70deg);
    /* Opera */
    -o-transform: rotate(-70deg);
}

.om-n {
    top: 295px;
    left:330px;
    -webkit-transform: rotate(30deg);
    /* Firefox */
    -moz-transform: rotate(30deg);
    /* IE */
    -ms-transform: rotate(30deg);
    /* Opera */
    -o-transform: rotate(30deg);
}

.wildseedwellness {
  
}

.risingroot {
  
}

.bio {
  position: fixed;
  bottom: 0px;
  /*background-color: black;*/
  /*color: white;*/
  width:100%;
}


.skew-neg {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height:100px;
    background-color: #00ff00;
}

/* And the child another way */
.skew-pos {
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height:80px;
    background-image: url("/assets/tree-texture.png");
}

.title {
  background-color: #ff0060;
  text-transform: uppercase;
  font-weight: bolder;
/*  width: 140px;
*/  position: fixed;
  right:10%;
  top: 20px;
}


.mobile {
    float: right;
    margin: 0 0 20px 30px;
    width: 40%;
}

.see {
  background-color: black;
  color: white;
}


/*GETFUL*/

.mobileViews {
    margin: 0 0 5px 5px;
    width: 40%;
}

.mockup {
  width:100%;
}
